<div class="container">
    <div class="row signup-form">
        <div class="col-md-6 ">
        </div>

        <form action="/post/new" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <h2>New Post</h2>
                <label for="name-input2">Pic Name: </label>
                <input name="picName" type="text" class="form-control" id="name-input2">
            </div>
            <div class="form-group">
                <input name='picPath' type='file' id='input1'>
                <div class="form-group">
                    <input id="lat" type="text" name="longitude" placeholder="latitude">
                    <input id="lng" type="text" name="latitude" placeholder="longitude">
                </div>
                <div><input id="country" type="text" name="country" placeholder="Country">
                    <input id="province" type="text" name="province" placeholder="Province or Department">
                    <input id="city" type="text" name="city" placeholder="City">
                </div>
                <br>
                <button type="submit" class="bigBtn botones btn-block">Create a Post</button>
                <br>
                <a href="/main" class="bigBtn botones btn-block" style="color: white; text-align:center">Back</a>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div>
        <figure id="map"></figure>
        <script src="/javascripts/script2.js"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>
    </div>
</div>