<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PicPoint</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css"
        integrity="sha256-dARYuC3pd0wa/7R4Hkt/sR2zfLHCgbnVAQ2sPwhNe0A=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="mainMap">
    <div class="container">
        <div class="row">
            <div class="col-2 botonera">
                <h3 class="appName">Pic-App</h3>
                <br>
                <br>
                <br>
                <a href="/auth/login"><button type="button" class="btn btn-light">Log In</button></a>
                <br>
                <br>
                <br>
                <br>
                <a href="/auth/signup"><button type="button" class="btn btn-light">Sign Up</button></a>
                <br>
                <br>
                <br>
                <br>
                <h5>Find the perfect place for the perfect photo</h5>
            </div>
            <div class="col-8" id="box">
                <img src="/images/worldFinal.jpg" alt="world image">
            </div>
        </div>
    </div>
    <script src="/javascripts/script.js"></script>
</body>

</html>