<body class="colorBackground">
    <div class="container">
        <div class="row main-post row justify-content-center">
            {{#each post}}
            <div class="col-3">
                <a href="/post/details/{{this.id}}"><img class="asd"src="{{this.picPath}}" alt=""></a>
            </div>
            {{/each}}
        </div>
        <div class="row justify-content-center">
            <figure id="map"></figure>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="/javascripts/script-main.js"></script>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>
        </div>
    </div>
</body>