<body class="mainBody">
    <div class="container">
        <div class="row">
            <div class="col-4 samples">
                <div><img src="/images/sample1.jpeg" alt="world image"></div>
                <div><img src="/images/sample2.jpeg" alt="world image"></div>
                {{!-- <div><img src="/images/sample3.jpeg" alt="world image"></div> --}}
            </div>
            <div class="col-4 samples">
                <div><img src="/images/sample4.jpeg" alt="world image"></div>
                <div><img src="/images/sample5.jpeg" alt="world image"></div>
                {{!-- <div><img src="/images/sample6.jpeg" alt="world image"></div> --}}
            </div>

            <div class="col-4">
                <figure id="map"></figure>
                <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>
                <script type="text/javascript" src="javascripts/script.js"></script>
            </div>
        </div>
    </div>
</body>

</html>