<head>
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <figure id="map"></figure>
                <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG88rK2sVwRDbZIJautuIZpNt32kAQpSU&callback=initMap"></script>
                <script type="text/javascript" src="javascripts/script.js"></script>
            </div>
        </div>
    </div>
</body>

</html>