a {
  color: #00b7ff;
}
.mainBody{
  background: url("/images/back.jpg") no-repeat center center fixed;
  height: 500px;
  width: 100%;
}
.worldMap {
  background: url('/images/try2.jpg') no-repeat center center fixed;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.orange{
  color:rgb(235, 140, 51)
}
.samples img {
  width: 400px;
  height:300px;
}

#map {
/* margin-top: 10px; */
 height: 400px;
 width: 68.8vw;
margin:auto;
}

.botonera{
    margin: 200px 0px 0px 0px;
    position: absolute;
    width:400px;
}
.btn{
    width: 200px;
}

#box {
  height: 700px;
  margin: 3% 3% 0 30%;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  box-shadow:  5px 5px 50px 5px rgb(245, 191, 111);
}

.account-message {
  color:black;
}

#box img {
  height: 100%;
  animation: spin 35s linear infinite;
}

@keyframes spin {
  0% {
    margin-left: -400px;
  }
  100% {
    margin-left: 0px;
  }
}

.account-message{
  color: black;
}

.profile-post {
  overflow: scroll;
  height: 420px;
}

.profile-post img {
  width: 200px;
  margin: 5px;
}
.main-post {
  overflow: scroll;
  height: 420px;
}

.main-post img {
  margin: 5px;
  width: 250px;
  height: 200px;
  object-fit: contain
}

.colorBackground {
  background: url('/images/white.jpg') no-repeat center center fixed;
}

.styleTry {
  margin: auto;
}