
.worldMap {
  background: url('/images/try2.jpg') no-repeat center center fixed;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-control {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
  }

.btn {
    border-radius: 5px;
  }

   .signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
  }

    .signup-form h2 {
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
  }
  .signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }

  .signup-form h2:before,
  .signup-form h2:after {
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
  }

 .signup-form h2:before {
    left: 0;
  }

  .signup-form h2:after {
    right: 0;
  }
 .signup-form .form-group {
    margin-bottom: 20px;
  }

  .signup-form input[type="checkbox"] {
    margin-top: 3px;
  }

  .signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
  }

  .signup-form .row div:first-child {
    padding-right: 10px;
  }

  .signup-form .row div:last-child {
    padding-left: 10px;
  }

  .signup-form a {
    color: #fff;
    text-decoration: underline;
  }

  .signup-form a:hover {
    text-decoration: none;
  }

   .signup-form form a {
    color:rgb(235, 140, 51);
    text-decoration: none;
  }

  .signup-form form a:hover {
    text-decoration: underline;
  }
.orange{
  color:rgb(235, 140, 51)
}
.samples img {
  width: 400px;
  height:300px;
}

#map {
margin-top: 20px;
 height: 250px;
 width: 68.8vw;

}

.botones {
  padding: 10px;
  border: 1px solid rgb(180, 117, 62);
  color: white;
  background-color: rgb(235, 140, 51);
}

.botonera{
    margin: 200px 0px 0px 0px;
    position: absolute;
    width:400px;
}
.btn{
    width: 200px;
}

#box {
  height: 700px;
  margin: 3% 3% 0 30%;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  box-shadow:  5px 5px 50px 5px rgb(245, 191, 111);
}



#box img {
  height: 100%;
  animation: spin 35s linear infinite;
}

@keyframes spin {
  0% {
    margin-left: -400px;
  }
  100% {
    margin-left: 0px;
  }
}

.account-message{
  color: black;
}

.profile-post {
  overflow: scroll;
  height: 420px;
}

.profile-post img {
  width: 200px;
  margin: 5px;
}
.main-post {
  overflow: scroll;
  height: 420px;
}

.main-post img {
  margin: 5px;
  width: 250px;
  height: 200px;
  object-fit: contain
}

.colorBackground {
  background: url('/images/white.jpg') no-repeat center center fixed;
}

.styleTry {
  margin: auto;
}